<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-8 col-lg-8 col-md-8">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <h4 class="card-title home-tour-title">Home Tour Per Day</h4>
                        <div class="filter">
                            <select name="filter" class="select-filter">
                                <option value="Day" selected="selected">Day</option>
                                <option value="Month">Month</option>
                                <option value="Quarter">Quarter</option>
                                <option value="Year">Year</option>
                            </select>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-12 col-lg-8">
                                <canvas id="homeTourOverview"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Properties Of Interest</h4>
                    </div>
                    <div class="card-body">
                        <canvas id="propertiesOfInterest" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Top 10 most interested properties</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive top-properties-of-interest">
                            <table class="table table-bordered verticle-middle table-responsive-sm" style="white-space:nowrap;width:100%;">
                                <thead>
                                    <tr>
                                        <th class="rank-col" scope="col">Rank</th>
                                        <th class="name-col" scope="col">Name</th>
                                        <th class="category-col" scope="col">Category</th>
                                        <th class="seller-col" scope="col">Seller</th>
                                        <th class="price-col" scope="col">Price</th>
                                        <th class="num-of-interest-col" scope="col">People of interest</th>
                                    </tr>
                                </thead>
                                <tbody class="table-body">
                                    {{!-- Jquery will insert properties here --}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Boostrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<!-- Required vendors -->
<script src="/public/javascripts/vendor/global/global.min.js"></script>
<script src="/public/javascripts/js/quixnav-init.js"></script>
<script src="/public/javascripts/js/custom.min.js"></script>

<script src="../../public/jquery/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script src="../../public/jquery/chart/dashboardChart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>
<script src="../../public/javascripts/handlebarHelper.js"></script>