
<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>
<!--*******************
    Preloader end
********************-->

<div class="overlay-spinner"></div>
{{!-- Spinner Loading--}}
<div class="spanner">
  <div class="loader"></div>
  <p>LOADING...</p>
</div>
<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start./images/property/preview/asd-my7bu6vokwobzeja-preview-0.jpeg
    ***********************************-->
    <div class="nav-header">
        <a href="#" class="brand-logo">
            <img class="logo-abbr" src="https://res.cloudinary.com/dq4xoyzib/image/upload/v1638422871/sweet-home/images/property/test-nha-1-my7budp4kwoioae2/preview/test-nha-1-my7budp4kwoioae2-preview-0.jpg" alt="">
            <img class="logo-compact" src="https://res.cloudinary.com/dq4xoyzib/image/upload/v1638422871/sweet-home/images/property/test-nha-1-my7budp4kwoioae2/preview/test-nha-1-my7budp4kwoioae2-preview-0.jpg" alt="">
            <img class="brand-title" src="https://res.cloudinary.com/dq4xoyzib/image/upload/v1638422871/sweet-home/images/property/test-nha-1-my7budp4kwoioae2/preview/test-nha-1-my7budp4kwoioae2-preview-0.jpg" alt="">
        </a>

        <div class="nav-control">
            <div class="hamburger">
                <div class="line"></div>
            </div>
        </div>
    </div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div class="header">
        <div class="header-content">
            <nav class="navbar navbar-expand">
                <div class="collapse navbar-collapse justify-content-between">
                    <div class="header-left">
                        <div class="search_bar dropdown">
                            <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                <i class="mdi mdi-magnify"></i>
                            </span>
                            <div class="dropdown-menu p-0 m-0">
                                <form>
                                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                </form>
                            </div>
                        </div>
                    </div>

                    <ul class="navbar-nav header-right">
                        <li class="nav-item dropdown notification_dropdown">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                <i class="mdi mdi-bell"></i>
                                <div class="pulse-css"></div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="list-unstyled">
                                    <li class="media dropdown-item">
                                        <span class="success"><i class="ti-user"></i></span>
                                        <div class="media-body">
                                            <a href="#">
                                                <p><strong>Martin</strong> has added a <strong>customer</strong> Successfully
                                                </p>
                                            </a>
                                        </div>
                                        <span class="notify-time">3:20 am</span>
                                    </li>
                                    <li class="media dropdown-item">
                                        <span class="primary"><i class="ti-shopping-cart"></i></span>
                                        <div class="media-body">
                                            <a href="#">
                                                <p><strong>Jennifer</strong> purchased Light Dashboard 2.0.</p>
                                            </a>
                                        </div>
                                        <span class="notify-time">3:20 am</span>
                                    </li>
                                    <li class="media dropdown-item">
                                        <span class="danger"><i class="ti-bookmark"></i></span>
                                        <div class="media-body">
                                            <a href="#">
                                                <p><strong>Robin</strong> marked a <strong>ticket</strong> as unsolved.
                                                </p>
                                            </a>
                                        </div>
                                        <span class="notify-time">3:20 am</span>
                                    </li>
                                    <li class="media dropdown-item">
                                        <span class="primary"><i class="ti-heart"></i></span>
                                        <div class="media-body">
                                            <a href="#">
                                                <p><strong>David</strong> purchased Light Dashboard 1.0.</p>
                                            </a>
                                        </div>
                                        <span class="notify-time">3:20 am</span>
                                    </li>
                                    <li class="media dropdown-item">
                                        <span class="success"><i class="ti-image"></i></span>
                                        <div class="media-body">
                                            <a href="#">
                                                <p><strong> James.</strong> has added a<strong>customer</strong> Successfully
                                                </p>
                                            </a>
                                        </div>
                                        <span class="notify-time">3:20 am</span>
                                    </li>
                                </ul>
                                <a class="all-notification" href="#">See all notifications <i
                                        class="ti-arrow-right"></i></a>
                            </div>
                        </li>
                        <li class="nav-item dropdown header-profile">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                <i class="mdi mdi-account"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="./app-profile.html" class="dropdown-item">
                                    <i class="icon-user"></i>
                                    <span class="ml-2">Profile </span>
                                </a>
                                <a href="./email-inbox.html" class="dropdown-item">
                                    <i class="icon-envelope-open"></i>
                                    <span class="ml-2">Inbox </span>
                                </a>
                                <a href="./page-login.html" class="dropdown-item">
                                    <i class="icon-key"></i>
                                    <span class="ml-2">Logout </span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div class="quixnav">
        <div class="quixnav-scroll">
            <ul class="metismenu" id="menu">
                <li class="nav-label first">Main Menu</li>
                <!-- <li><a href="index.html"><i class="icon icon-single-04"></i><span class="nav-text">Dashboard</span></a>
                </li> -->
                <li><a href="#" aria-expanded="false"><i class="icon icon-globe-2"></i><span
                class="nav-text">Properties</span></a></li>
            </ul>
        </div>
    </div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Hi, Admin! Welcome back with Sweet Home</h4>
                    </div>
                </div>
            </div>
            <!-- row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Properties</h4>
                            <div class="success-btn-wrapper">
                                <a id="addNewPropertyBtn" class="btn btn-success"><i class="fa fa-plus"></i> <span>Add New Property</span></a>						
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered verticle-middle table-responsive-sm">
                                    <thead>
                                        <tr>
                                            <th class="name-col" scope="col">Name</th>
                                            <th class="category-col" scope="col">Category</th>
                                            <th class="address-col" scope="col">Address</th>
                                            <th class="seller-col" scope="col">Seller</th>
                                            <th class="price-col" scope="col">Price</th>
                                            <th class="status-col" scope="col">Status</th>
                                            <th class="action-col" scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-body">
                                        {{!-- Jquery will insert properties here --}}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="paging-wrapper">
                            {{!-- JQuery will generate pagination UI here --}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Edit Modal HTML -->
        <div id="addPropertyModal" class="modal fade">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">						
                        <h4 class="modal-title">Add Property</h4>
                        <button type="button" id="cancelFormBtn" class="close" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <form id="addForm" class="row g-3" enctype="multipart/form-data">
                            {{!-- START GENERAL --}}
                            <div class="general-section col-12">						
                                <h4 class="general-title">General</h4>
                            </div>
                            <div class="col-md-6 form-group">
                              <label for="inputPropertyName" class="form-label">Property name</label>
                              <input type="text" class="form-control" id="inputPropertyName" name="propertyName" value="">
                            </div>
                            <div class="col-md-6">
                              <label for="inputCategory" class="form-label">Category</label>
                              <select id="inputCategory" class="form-select" name="propertyCategory">
                                <option value="" disabled selected>Select your option</option>
                                <option value="House">House</option>
                                <option value="Apartment">Apartment</option>
                                <option value="Villa">Villa</option>
                                <option value="Land">Land</option>
                              </select>
                            </div>
                            <div class="col-12">
                              <label for="inputAddress" class="form-label">Address</label>
                              <input type="text" class="form-control" id="inputAddress" name="propertyAddress">
                            </div>
                            <div class="col-12">
                              <label for="inputDescription" class="form-label">Description</label>
                              <textarea class="form-control" id="inputDescription" name="propertyDescription"></textarea>
                            </div>
                            <div class="col-md-6">
                              <label for="inputPrice" class="form-label">Price</label>
                              <input type="number" class="form-control" id="inputPrice" min="0" max="1000000000000" name="propertyPrice">
                            </div>

                            <div class="col-md-6">
                              <label for="inputRate" class="form-label">Rate</label>
                              <input type="number" class="form-control" id="inputRate" min="1" max="5" name="propertyRate">
                            </div>

                            <div class="col-md-6">
                              <label for="inputStatus" class="form-label">Status</label>
                              <select id="inputStatus" class="form-select" name="propertyStatus">
                                <option value="" disabled selected>Select your option</option>
                                <option value="For Sale">For Sale</option>
                                <option value="Sold Out">Sold Out</option>
                              </select>
                            </div>
                            {{!-- END GENERAL --}}

                            {{!-- START FEATURE --}}
                            <div class="feature-section col-12">						
                                <h4 class="feature-title">Features</h4>
                            </div>

                            <div id="featureList" class="col-12">
                                <div class="d-flex align-item-center">
                                    <input type="text" class="form-control" name="propertyFeature" style="width: 70%;">                         
                                </div>
                                <br>
                            </div>


                            <div class="col-12 add-new-feature-btn-wrapper">
                                <input id="add-new-feature-btn" type="button" class="btn btn-primary" value="Add new feature">			
                            </div>

                            
                            {{!-- END FEATURE --}}

                            {{!-- START SELLER --}}
                            <div class="seller-section col-12">						
                                <h4 class="seller-title">Seller</h4>
                            </div>

                            <div class="col-md-6 form-group">
                              <label for="inputSellerName" class="form-label">Seller name</label>
                              <input type="text" class="form-control" id="inputSellerName" name="sellerName">
                            </div>

                            <div class="col-md-6 form-group">
                              <label for="inputSellerEmail" class="form-label">Email</label>
                              <input type="email" class="form-control" id="inputSellerEmail" placeholder="Ex: abc@gmail.com" name="sellerEmail">
                            </div>

                            <div class="col-md-6 form-group">
                              <label for="inputSellerPhoneNumber" class="form-label">Phone number</label>
                              <input type="tel" class="form-control" id="inputSellerPhoneNumber" placeholder="Ex: 0932288755" name="sellerPhoneNumber">
                            </div>                    
                            {{!-- END SELLER --}}
                            
                            {{!-- START PROPERTY IMAGE --}}
                            <div class="image-section col-12">						
                                <h4 class="image-title">Image</h4>
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="inputPreviewImage">Select preview image (just choose one image):</label>
                                <input type="file" id="inputPreviewImage" name="inputPreviewImage">
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="inputDetailImage">Select detail image (you can choose multiple images):</label>
                                <input type="file" id="inputDetailImage" name="inputDetailImage" multiple>
                            </div>
                            {{!-- END PROPERTY IMAGE --}}
                        
                            <div class="modal-footer">
                                <input type="button" id="cancelFormBtn" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                <input type="submit" id="confirmFormBtn" class="btn btn-success confirm-btn" value="Confirm">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Success Modal HTML -->
        <div id="successModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="icon-box">
                            <i class="fa fa-check"></i>
                        </div>				
                        <h4 id="successTitle" class="modal-title w-100">Success</h4>	
                    </div>
                    <div class="modal-body">
                        <div id="successMsg" class="text-center">Property has added to database.</div>
                    </div>
                    <div class="modal-footer">
                        <button id="success-modal-btn" class="btn btn-success btn-block" >OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="errorModal" class="modal fade">
            <div class="modal-dialog modal-confirm">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="icon-box">
                            <i class="material-icons">&#xE5CD;</i>
                        </div>				
                        <h4 id="errorTitle" class="modal-title w-100">Sorry!</h4>	
                    </div>
                    <div class="modal-body">
                        <p id="errorMsg" class="text-center">Your transaction has failed. Please go back and try again.</p>
                    </div>
                    <div class="modal-footer">
                        <button id="error-modal-btn" class="btn btn-danger btn-block" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>
        </div>
    </div>
    <!--**********************************
        Footer end
    ***********************************-->
</div>
