
<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="sk-three-bounce">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
    </div>
</div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div class="nav-header">
        <a href="#" class="brand-logo">
            <img class="logo-abbr" src="./images/logo.png" alt="">
            <img class="logo-compact" src="./images/logo-text.png" alt="">
            <img class="brand-title" src="./images/logo-text.png" alt="">
        </a>

        <div class="nav-control">
            <div class="hamburger">
                <div class="line"></div>
            </div>
        </div>
    </div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div class="header">
        <div class="header-content">
            <nav class="navbar navbar-expand">
                <div class="collapse navbar-collapse justify-content-between">
                    <div class="header-left">
                        <div class="search_bar dropdown">
                            <span class="search_icon p-3 c-pointer" data-toggle="dropdown">
                                <i class="mdi mdi-magnify"></i>
                            </span>
                            <div class="dropdown-menu p-0 m-0">
                                <form>
                                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                                </form>
                            </div>
                        </div>
                    </div>

                    <ul class="navbar-nav header-right">
                        <li class="nav-item dropdown notification_dropdown">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                <i class="mdi mdi-bell"></i>
                                <div class="pulse-css"></div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <ul class="list-unstyled">
                                    <li class="media dropdown-item">
                                        <span class="success"><i class="ti-user"></i></span>
                                        <div class="media-body">
                                            <a href="#">
                                                <p><strong>Martin</strong> has added a <strong>customer</strong> Successfully
                                                </p>
                                            </a>
                                        </div>
                                        <span class="notify-time">3:20 am</span>
                                    </li>
                                    <li class="media dropdown-item">
                                        <span class="primary"><i class="ti-shopping-cart"></i></span>
                                        <div class="media-body">
                                            <a href="#">
                                                <p><strong>Jennifer</strong> purchased Light Dashboard 2.0.</p>
                                            </a>
                                        </div>
                                        <span class="notify-time">3:20 am</span>
                                    </li>
                                    <li class="media dropdown-item">
                                        <span class="danger"><i class="ti-bookmark"></i></span>
                                        <div class="media-body">
                                            <a href="#">
                                                <p><strong>Robin</strong> marked a <strong>ticket</strong> as unsolved.
                                                </p>
                                            </a>
                                        </div>
                                        <span class="notify-time">3:20 am</span>
                                    </li>
                                    <li class="media dropdown-item">
                                        <span class="primary"><i class="ti-heart"></i></span>
                                        <div class="media-body">
                                            <a href="#">
                                                <p><strong>David</strong> purchased Light Dashboard 1.0.</p>
                                            </a>
                                        </div>
                                        <span class="notify-time">3:20 am</span>
                                    </li>
                                    <li class="media dropdown-item">
                                        <span class="success"><i class="ti-image"></i></span>
                                        <div class="media-body">
                                            <a href="#">
                                                <p><strong> James.</strong> has added a<strong>customer</strong> Successfully
                                                </p>
                                            </a>
                                        </div>
                                        <span class="notify-time">3:20 am</span>
                                    </li>
                                </ul>
                                <a class="all-notification" href="#">See all notifications <i
                                        class="ti-arrow-right"></i></a>
                            </div>
                        </li>
                        <li class="nav-item dropdown header-profile">
                            <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                                <i class="mdi mdi-account"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="./app-profile.html" class="dropdown-item">
                                    <i class="icon-user"></i>
                                    <span class="ml-2">Profile </span>
                                </a>
                                <a href="./email-inbox.html" class="dropdown-item">
                                    <i class="icon-envelope-open"></i>
                                    <span class="ml-2">Inbox </span>
                                </a>
                                <a href="./page-login.html" class="dropdown-item">
                                    <i class="icon-key"></i>
                                    <span class="ml-2">Logout </span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div class="quixnav">
        <div class="quixnav-scroll">
            <ul class="metismenu" id="menu">
                <li class="nav-label first">Main Menu</li>
                <!-- <li><a href="index.html"><i class="icon icon-single-04"></i><span class="nav-text">Dashboard</span></a>
                </li> -->
                <li><a href="#" aria-expanded="false"><i class="icon icon-globe-2"></i><span
                class="nav-text">Properties</span></a></li>
            </ul>
        </div>
    </div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <div class="container-fluid">
            <div class="row page-titles mx-0">
                <div class="col-sm-6 p-md-0">
                    <div class="welcome-text">
                        <h4>Hi, Admin! Welcome back with Sweet Home</h4>
                    </div>
                </div>
            </div>
            <!-- row -->

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Properties</h4>
                            <div class="success-btn-wrapper">
                                <a href="#addPropertyModal" class="btn btn-success" data-toggle="modal"><i class="fa fa-plus"></i> <span>Add New Property</span></a>						
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered verticle-middle table-responsive-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">Seller</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-body">
                                        <tr>
                                            <td>
                                                <div class="name-col">Căn hộ Thái Ấp</div>
                                            </td>
                                            <td>
                                                <div class="category-col">House</div>
                                            </td>
                                            <td>
                                                <div class="address-col">Xã Long Thạnh, Quận Thốt Nốt, TP.Cần Thơ</div>
                                            </td>
                                            <td>
                                                <div class="seller-col">Lê Thị Trân</div>
                                            </td>
                                            <td>
                                                <div class="price-col">3500000000</div>
                                            </td>
                                            <td>
                                                <div class="status-col">For Sale</div>
                                            </td>
                                            <td>
                                                <span>
                                                    <a href="javascript:void()" class="mr-4" data-toggle="tooltip"
                                                        data-placement="top" title="Edit"><i
                                                            class="fa fa-pencil color-muted"></i> </a>
                                                    <a href="javascript:void()" data-toggle="tooltip"
                                                        data-placement="top" title="Close"><i
                                                            class="fa fa-close color-danger"></i></a>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Textiles</td>
                                            <td>
                                                <div class="progress" style="background: rgba(76, 175, 80, .1)">
                                                    <div class="progress-bar bg-success" style="width: 70%;" role="progressbar"><span class="sr-only">70% Complete</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>May 27,2018</td>
                                            <td><span class="badge badge-success">70%</span>
                                            </td>
                                            </td>
                                            <td><span><a href="javascript:void()" class="mr-4" data-toggle="tooltip"
                                                        data-placement="top" title="Edit"><i
                                                            class="fa fa-pencil color-muted"></i> </a><a
                                                        href="javascript:void()" data-toggle="tooltip"
                                                        data-placement="top" title="Close"><i
                                                            class="fa fa-close color-danger"></i></a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Milk Powder</td>
                                            <td>
                                                <div class="progress" style="background: rgba(70, 74, 83, .1)">
                                                    <div class="progress-bar bg-dark" style="width: 70%;" role="progressbar"><span class="sr-only">70% Complete</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>May 18,2018</td>
                                            <td><span class="badge badge-dark">70%</span>
                                            </td>
                                            <td><span><a href="javascript:void()" class="mr-4" data-toggle="tooltip"
                                                        data-placement="top" title="Edit"><i
                                                            class="fa fa-pencil color-muted"></i> </a><a
                                                        href="javascript:void()" data-toggle="tooltip"
                                                        data-placement="top" title="Close"><i
                                                            class="fa fa-close color-danger"></i></a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Vehicles</td>
                                            <td>
                                                <div class="progress" style="background: rgba(255, 87, 34, .1)">
                                                    <div class="progress-bar bg-danger" style="width: 70%;" role="progressbar"><span class="sr-only">70% Complete</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Mar 27,2018</td>
                                            <td><span class="badge badge-danger">70%</span>
                                            </td>
                                            <td><span><a href="javascript:void()" class="mr-4" data-toggle="tooltip"
                                                        data-placement="top" title="Edit"><i
                                                            class="fa fa-pencil color-muted"></i> </a><a
                                                        href="javascript:void()" data-toggle="tooltip"
                                                        data-placement="top" title="Close"><i
                                                            class="fa fa-close color-danger"></i></a></span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Boats</td>
                                            <td>
                                                <div class="progress" style="background: rgba(255, 193, 7, .1)">
                                                    <div class="progress-bar bg-warning" style="width: 70%;" role="progressbar"><span class="sr-only">70% Complete</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>Jun 28,2018</td>
                                            <td><span class="badge badge-warning">70%</span>
                                            </td>
                                            <td><span><a href="javascript:void()" class="mr-4" data-toggle="tooltip"
                                                        data-placement="top" title="Edit"><i
                                                            class="fa fa-pencil color-muted"></i> </a><a
                                                        href="javascript:void()" data-toggle="tooltip"
                                                        data-placement="top" title="Close"><i
                                                            class="fa fa-close color-danger"></i></a></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Edit Modal HTML -->
        <div id="addPropertyModal" class="modal fade">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">						
                        <h4 class="modal-title">Add Property</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <form class="row g-3">
                            {{!-- START GENERAL --}}
                            <div class="general-section col-12">						
                                <h4 class="general-title">General</h4>
                            </div>
                            <div class="col-md-6 form-group">
                              <label for="inputName" class="form-label">Name</label>
                              <input type="text" class="form-control" id="inputName" name="propertyName" required>
                            </div>
                            <div class="col-md-6">
                              <label for="inputCategory" class="form-label">Category</label>
                              <select id="inputCategory" class="form-select" name="propertyCategory" required>
                                <option value="" disabled selected>Select your option</option>
                                <option value="house">House</option>
                                <option value="apartment">Apartment</option>
                                <option value="villa">Villa</option>
                                <option value="land">Land</option>
                              </select>
                            </div>
                            <div class="col-12">
                              <label for="inputAddress" class="form-label">Address</label>
                              <input type="text" class="form-control" id="inputAddress" name="propertyAddress" required>
                            </div>
                            <div class="col-12">
                              <label for="inputDescription" class="form-label">Description</label>
                              <textarea class="form-control" id="inputDescription" name="propertyDescription" required></textarea>
                            </div>
                            <div class="col-md-6">
                              <label for="inputPrice" class="form-label">Price</label>
                              <input type="number" class="form-control" id="inputPrice" min="0" max="1000000000000" name="propertyPrice" required>
                            </div>
                            {{!-- END GENERAL --}}

                            {{!-- START FEATURE --}}
                            <div class="feature-section col-12">						
                                <h4 class="feature-title">Features</h4>
                            </div>

                            <div id="featureList" class="col-12">

                            </div>


                            <div class="col-12 add-new-feature-btn-wrapper">
                                <input id="add-new-feature-btn" type="button" class="btn btn-primary" value="Add new feature">			
                            </div>
                            {{!-- END FEATURE --}}
                            <div class="modal-footer">
                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                                <input type="submit" class="btn btn-success" value="Add">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Quixkit</a> 2019</p>
        </div>
    </div>
    <!--**********************************
        Footer end
    ***********************************-->

    <!--**********************************
       Support ticket button start
    ***********************************-->

    <!--**********************************
       Support ticket button end
    ***********************************-->


</div>

{{!-- ADD NEW FEATURE --}}
<script>
    let i = 0;
    document.getElementById('add-new-feature-btn').onclick = function () {
        let template = `
            <div class="d-flex align-item-center">
                <input type="text" class="form-control" id="feature-${i}" name="propertyFeature[${i}]" style="width: 70%;" required>
                <div id="delete-feature-btn">
                    <a href="#" onclick="document.getElementById('delete-feature-btn').parentElement.parentElement.remove();" title="Close">
                        <i class="fa fa-close color-danger"></i>
                    </a>
                </div>
            </div>
            <br>`;

        let container = document.getElementById('featureList');
        let div = document.createElement('div');
        div.innerHTML = template;
        div.classList.add('featureItem');
        container.appendChild(div);
        i++;
    }

    function deleteBtnClicked() {
        let deleteBtn = document.getElementById('delete-feature-btn');
        if(deleteBtn != null) {
            document.getElementById('delete-feature-btn').onclick = function () {
                document.getElementById('delete-feature-btn').parentElement.remove();
            }
        }
    }

</script>